.data-upload-screen {
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    min-height: 100vh;
    position: relative;
    width: 100vw;
    box-sizing: border-box;
}

.data-upload-screen .component-51-wrapper {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    position: absolute; /* 🔥 고정 배치 */
    top: 20px;          /* 위에서 20px */
    left: 20px; 
    width: 100%;
}

.data-upload-screen .component-51-instance {
    display: unset !important;
    left: unset !important;
    top: unset !important;
}

.data-upload-screen .design-component-instance-node {
    height: 100% !important;
    left: unset !important;
    position: unset !important;
    top: unset !important;
    width: 100% !important;
}

.data-upload-screen .text-wrapper-2 {
    align-self: stretch;
    color: #000000;
    font-family: "Pretendard", Helvetica;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
}

.data-upload-screen .div-2 {
    align-self: stretch;
    flex: 0 0 auto;
    padding: 20px 50px;
    position: relative;
    width: 100%;
}

.data-upload-screen .div-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.data-upload-screen .text-wrapper-3 {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    font-size: 25px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 100%;
}

.data-upload-screen .frame {
    align-items: flex-start;
    background-color: #d9dade;
    border-radius: 20px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 50vw;
    padding: 10px;
    box-sizing: border-box;
}

.data-upload-screen .frame-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    position: relative;
}

.data-upload-screen .text-wrapper-4 {
    color: #000000;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    font-size: 20px;
    font-weight: 400;
    min-height: 52px;
    letter-spacing: 0;
    line-height: 46.8px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.data-upload-screen .div-4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
    padding: 30px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.data-upload-screen .frame-wrapper {
    align-items: flex-start;
    background-color: #d9dade;
    border-radius: 20px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 50vw;
    padding: 10px;
    box-sizing: border-box;
}

.data-upload-screen .div-5 {
    align-items: right;
    display: right;
    flex-direction: column;
    gap: 16px;
    justify-content: right;
    padding: 5px;
    position: relative;
    width: 60vw;
    box-sizing: border-box;
}

.data-upload-screen .component-52-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 30px;
    justify-content: flex-end;
    padding: 10px 70px;
    position: relative;
    width: 100%;
}

.data-upload-screen .component-52-instance {
    height: unset !important;
    left: unset !important;
    padding: 10px 20px !important;
    top: unset !important;
    width: auto !important;
    min-width: 150px !important;
}

.data-upload-screen .component-52-2 {
    height: 62px !important;
    left: unset !important;
    top: unset !important;
    width: 10vw !important;
    min-width: 150px !important;
    padding: 10px 30px !important;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    font-size: 20px !important;
    color: #ffffff !important;
    background-color: #0246cd !important;
}

.data-upload-screen .component-52-2:hover {
    background-color: #0035a0 !important;
}

.data-upload-screen .component-52-instance-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 128px;
    justify-content: flex-end;
    padding: 50px 70px;
    position: relative;
    width: 100%;
}

.data-upload-screen .component-52-3 {
    height: 62px !important;
    left: unset !important;
    top: unset !important;
    width: 10vw !important;
    min-width: 150px !important;
    padding: 10px 30px !important;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    font-size: 20px !important;
    color: #ffffff !important;
    background-color: #0246cd !important;
}

.data-upload-screen .component-52-3:hover {
    background-color: #0035a0 !important;
}

