.main-screen {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

.main-screen .component-49-wrapper {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 0px;
    justify-content: flex-end;
    position: relative;
    width: 100%;
}

.main-screen .component-49-instance {
    display: unset !important;
    left: unset !important;
    top: unset !important;
    width: 210px !important;
}

.main-screen .design-component-instance-node {
    font-size: 36px !important;
    width: 210px !important;
}

.main-screen .component-49-2 {
    height: 100% !important;
    left: unset !important;
    position: unset !important;
    top: unset !important;
    width: 100% !important;
}

.main-screen .div-wrapper-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 20px 0px;
    position: relative;
    width: 100%;
}

.main-screen .p {
    color: #000000;
    flex: 1;
    font-family: "Pretendard", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
}

.main-screen .span {
    color: #000000;
    font-family: "Pretendard", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
}

.main-screen .text-wrapper-3 {
    font-size: 50px;
}

.main-screen .div-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    gap: 100px;
    padding: 50px 200px;
    position: relative;
    width: 100%;
}

.main-screen .component-50-instance {
    height: 250px !important;
    left: unset !important;
    top: unset !important;
    width: 300px !important;
    background-color: #0246cd !important;
    border: none !important;
    border-radius: 15px !important;
    color: #ffffff !important;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, sans-serif !important;
    font-size: 30px !important;
    font-weight: 400 !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    box-sizing: border-box !important;
    transition: background-color 0.3s ease !important;
}

.main-screen .component-50-instance:hover {
    background-color: #0035a0 !important;
}

.main-screen .view-wrapper {
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    gap: 10px;
    height: 182px;
    justify-content: center;
    padding: 10px 0px;
    position: relative;
    width: 100%;
}

.main-screen .view {
    display: unset !important;
    left: unset !important;
    top: unset !important;
}

.main-screen .component-51-instance {
    color: #0055ffa1 !important;
    font-size: 25px !important;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, sans-serif !important;
    font-weight: 400 !important;
    text-decoration: none !important;
}
